<template>
  <v-autocomplete
    v-model="username"
    :loading="loading"
    :items="usernames"
    :search-input.sync="search"
    @input="onInput"
    hide-no-data
    cache-items
  ></v-autocomplete>
</template>

<script>
import axios from "axios";
import { mapActions } from "vuex";

export default {
  data: () => ({
    username: null,
    loading: false,
    search: null,
    items: [],
    fetchTimer: null,
    cancelSource: null,
    error: false
  }),
  watch: {
    search(search) {
      clearTimeout(this.fetchTimer);
      this.error = false;
      this.timer = setTimeout(async () => {
        this.loading = true;
        if (this.cancelSource) {
          this.cancelSource.cancel();
        }
        this.cancelSource = axios.CancelToken.source();
        try {
          const { data } = await this.$http.get("/users", {
            cancelToken: this.cancelSource.token,
            params: {
              search
            }
          });
          this.items = data;
        } catch {
          this.error = true;
        }
        this.loading = false;
      }, 300);
    }
  },
  computed: {
    usernames() {
      return this.items.map(item => item.username);
    }
  },
  methods: {
    ...mapActions(["addUser"]),
    onInput(username) {
      this.addUser(username);
      this.username = "";
    }
  }
};
</script>
