<template>
  <div>
    <UsersListItem
      v-for="user in users"
      :user="user"
      :key="user.username"
    ></UsersListItem>
  </div>
</template>

<script>
import { mapState } from "vuex";
import UsersListItem from "./UsersListItem";

export default {
  components: {
    UsersListItem
  },
  computed: {
    ...mapState(["users"])
  }
};
</script>
