<template>
  <v-list-item two-line>
    <v-list-item-content>
      <v-list-item-title>
        <span v-if="emojiClass" class="ec" :class="emojiClass"></span>
        {{ user.username }}
      </v-list-item-title>
      <v-list-item-subtitle>{{ user.status.message }}</v-list-item-subtitle>
    </v-list-item-content>
    <v-list-item-action>
      <v-btn icon @click="onDeleteClicked">
        <v-icon>mdi-delete</v-icon>
      </v-btn>
    </v-list-item-action>
  </v-list-item>
</template>
<script>
import { mapActions } from "vuex";

export default {
  props: {
    user: {
      type: Object,
      required: true
    }
  },
  computed: {
    emojiClass() {
      if (!this.user.status.emoji) {
        return null;
      }
      return `ec-${this.user.status.emoji.replace("_", "-")}`;
    }
  },
  methods: {
    ...mapActions(["deleteUser"]),
    onDeleteClicked() {
      this.deleteUser(this.user.username);
    }
  }
};
</script>
