<template>
  <v-app>
    <v-content class="align-center justify-center">
      <v-card class="mx-auto" max-width="400" tile>
        <SearchUser />
        <UsersList />
        <v-toolbar>
          <v-spacer></v-spacer>

          <v-btn icon @click="showApiTokenDialog = true">
            <v-icon>mdi-settings</v-icon>
          </v-btn>
        </v-toolbar>
      </v-card>
    </v-content>

    <v-dialog v-model="showApiTokenDialog" max-width="500">
      <v-card>
        <v-card-title class="headline"
          >I need an API token please!</v-card-title
        >

        <v-card-text>
          Go to
          <a href="https://gitlab.com/profile/personal_access_tokens"
            >https://gitlab.com/profile/personal_access_tokens</a
          >
          to create a new
          <b>api</b>
          token.
          <v-text-field v-model="apiTokenInput" label="API Token" />
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="blue" text @click="onSaveTokenClicked">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-app>
</template>

<script>
import { mapActions, mapState } from "vuex";
import SearchUser from "./components/SearchUser";
import UsersList from "./components/UsersList";

export default {
  name: "App",

  components: {
    SearchUser,
    UsersList
  },

  data: () => ({
    showApiTokenDialog: false,
    apiTokenInput: "",
    pollInterval: null
  }),

  computed: {
    ...mapState(["apiToken"])
  },

  created() {
    if (!this.apiToken) {
      this.showApiTokenDialog = true;
    } else {
      this.$http.defaults.headers.common["Private-Token"] = this.apiToken;
    }
    this.fetchUsersStatus();
    this.pollInterval = setInterval(this.fetchUsersStatus, 30000);
  },

  methods: {
    ...mapActions(["setApiToken", "fetchUsersStatus"]),
    onSaveTokenClicked() {
      this.setApiToken(this.apiTokenInput);
      this.apiTokenInput = "";
      this.showApiTokenDialog = false;
      this.$http.defaults.headers.common["Private-Token"] = this.apiToken;
    }
  }
};
</script>

<style>
@import "~emoji.css/dist/emoji.min.css";
</style>
